*{
  font-family: Inter;
  margin: 0%;
  padding: 0%;
}
body{
  max-width: 100%;
  overflow-x: hidden;
  height: auto;
  box-sizing: border-box;
}
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em; /* Increased padding for spacing */
    position: relative;
    gap: 20px; /* Adds space between logo and navbar */
  }

  /* Logo Styling */
  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adds space between logo and other items */
  }

  .logo img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* Adds space to the right of the logo */
  }

  /* Hamburger Styling (3 lines) */
  .hamburger {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    gap: 5px; /* Adds space between hamburger lines */
  }

  .hamburger span {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
  }

  /* Navbar Styling */
  .navbar {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px; /* Adds space between navbar items */
  }

  .navbar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

  .navbar > li {
  
    font-size: 1.3rem;
  }

  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 5px 10px; /* Adds space around text in links */
    transition: color 0.3s ease;
  }

  .navbar a:hover {
    color: #007BFF;
  }

  /* Dropdown Arrow */
  .dropbtn::after {
    content: '';
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(45deg);
    margin-left: 5px; /* Space between text and arrow */
    vertical-align: middle;
  }

  /* Dropdown Arrow */
  .dropbtn::after {
    content: '';
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(45deg);
    margin-left: 5px;
    vertical-align: middle;
  }
/* General layout of container */
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 0 auto; /* Center the container */
}

/* Left side content */
.left-content {
  flex: 1 1 45%;
  padding: 0; /* Remove extra padding */
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
}


.heading {
  width: 100%;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 3.3rem;
  font-weight: bold;
  margin: 0;
  color: #232323;
  font-family: Inter, sans-serif;
  text-align: left;
}

.heading p {
  font-size:1.9rem;
  color: #50506A;
  text-align: left;
  margin: 20px 0; /* Consistent margin for paragraph */
  font-family: Inter, sans-serif;
}

/* Image container for download buttons */
.img-container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.img-container img {
  max-width: 100%;
  height: auto;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.img-container img:hover {
  background-color: #9FA5C0;
}

/* Right side content */
.right-content {
  flex: 1 1 45%; /* Flex grow, shrink, and basis */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  
}

.right-content img {
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  animation: filterChange 60s infinite ease-in-out;
  margin-top: 2rem;
}

/* Animation for image */
@keyframes filterChange {
  0% {
      filter: grayscale(0%) brightness(1) contrast(100%);
  }
  10% {
      filter: grayscale(100%) brightness(0.7) contrast(120%);
  }
  15% {
      filter: grayscale(0%) brightness(1) contrast(100%);
  }
}

/* Container for the scrolling images */
.scrolling-images {
  overflow: hidden; /* Hide the content that overflows */
  position: relative;
}

/* Wrapper for images to allow scrolling animation */
.images-container {
  display: flex; /* Align images side by side */
  justify-content: flex-start; /* Align images to the left */
  animation: scrollImage 15s linear infinite; /* Scroll images infinitely */
}

/* Style for each image */
.scrolling-images img {
  height: 90px; /* Set the height of the images */
  width: auto; /* Ensure the images maintain their aspect ratio */
  flex-shrink: 0; /* Prevent images from shrinking */
}

/* Animation to scroll images */
@keyframes scrollImage {
  0% {
      transform: translateX(0); /* Start the images at their original position */
  }
  100% {
      transform: translateX(-50%); /* Move both images to the left */
  }
}
/*new section*/
.features-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1rem;
  padding: 2rem;
}

.features-header {
  text-align: center;
  margin-bottom: 2rem;
}

.features-header h2 {
  font-size: 3rem;
}

.features-header h4 {
  font-size: 1.2rem;
  color: #50506A;
  text-align: center;
  font-weight: normal;
  margin-top: 0.8rem;
}

/* Content Grid */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Image takes up 1/3 and content takes 2/3 */
  gap: 2rem;  /* Add space between image and content */
  padding: 1rem;
  align-items: center;
}

.feature-image {
  object-fit: cover;
  animation: invertChange 2s infinite;
}

@keyframes invertChange {
  0% {
      filter: invert(0); /* No inversion */
  }
  10% {
      filter: invert(100%); /* Fully inverted image */
  }
  15% {
      filter: invert(0); /* Back to normal */
  }
}

.content-column {
  display: grid;
  align-items: center;
  gap: 2rem; /* Space between items */
}

/* Content Item Styling */
.content-item {
  display: grid;
  grid-template-columns:auto 1fr; /* Icon and text in two columns */
  gap: 1rem;
  align-items: center;
  opacity: 1; /* Ensuring it is visible */
  transform: translateY(50px); /* Start from 50px below */
  
  /* Smooth transition effects */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Optional: Animation when the content items come into view (e.g., with JavaScript or a library like AOS) */
.content-item.visible {
  opacity: 1;
  transform: translateY(0); /* Move back to normal position */
}

.icon-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.icon-container svg {
  width: 100%;
 
  height: 100%;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-content h4 {
  font-size: 2rem;
  color: #161639;
  text-align: left;
  margin: 0;
}

.text-content p {
  font-size: 1.25rem;
  color: #555;
  text-align: left;
  margin: 0.25rem 0;
}

/* Main blue section */
.blue-section {
  display: flex;
  flex-wrap: wrap;
  background-image: url('images/line-background.png'); /* Set your background image */
  background-size: cover; /* Ensure the image covers the whole div */
  margin: 80px 20px 10px 10px;
  background-color: #4F7EF7; /* Blue background for the whole section */
  height: auto; /* Height auto to adjust based on content */
  border-radius: 24px;
  color: white; /* Text color */
  justify-content: space-between; /* Spread out the left and right sections */
  box-sizing: border-box; /* Include padding and borders in the element's width and height */
  gap: 20px; /* Add some gap between left and right sections */
}

/* Left side with background image */
.left {
  flex: 1; /* Takes up equal space as the right section */
  height: auto; /* Auto adjust the height */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: flex-start; /* Align items to the top */
  position: relative; /* Allow positioning of child elements */
}

/* Styling for the image inside the left div */
.left img {
  
  display: block; /* Ensures no extra space below the image */
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.3s ease;
  position: relative; /* Allow positioning of the image */
  top: -90px; /* Slightly adjust image upwards without overflowing */
}

/* Hover effect on image */
.left img:hover {
  transform: rotate(20deg); /* Rotate the image on hover */
}



/* Right side for text content */
.right {
  flex: 1; /* Takes up equal space as the left section */
  display: flex;
  flex-direction: column; /* Stack text and button vertically */
  justify-content: center; /* Align to the top */
  align-items: flex-start; /* Align text and button to the left */
  padding: 25px;
}

/* Heading for the discount offer */
.right h3 {
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 600;
  padding: 0; /* Remove padding from h3 */
  margin: 0 0 20px 0; /* Remove top margin and add some space below */
  text-align: left; /* Align text to the left */
  word-wrap: break-word; /* Break words to prevent overflow */
}

/* Paragraph for the offer details */
.right p {
  font-family: Inter, sans-serif;
  font-size: 24px;
  text-align: left; /* Align text to the left */
  margin: 0 0 20px 0; /* Ensure paragraph starts below the heading */
}

/* Button styles */
.right button {
  padding: 12px 24px; /* Adjust padding for a more clickable button */
  border-radius: 5px;
  cursor: pointer;

  background-color: #FFFFFF; /* White background for the button */
  color: #4F7EF7; /* Blue text */
  border: none; /* Remove default button border */
}

/* Button hover effect */
.right button:hover {
  background-color: lightgray; /* Button color on hover */
}



/*new section started*/
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* 2 items per row */
  gap: 20px;  /* Space between items */
  margin-top: 30px;
  margin: 30px 30px 0 30px;
}
.item {
  background-color: #4F7EF712;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 24px;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
}

.item svg {
  width: 40.18px;
  height: 43px;
  top: 2.5px;
}

.item h3 {
  margin-top: 10px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

p {
  margin-top: 15px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-left: 1px;
  }

/* New section started */
.main-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;  /* Allow elements to wrap */
  justify-content: space-between;  /* Distribute space evenly between items */
  align-items: center;  /* Vertically align items */
  background-color: #4F7EF712;
}

.leftside-content,
.rightside-content {
  flex: 1; /* Allow each container to grow */
  height: auto;
}

.leftside-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;  /* Align content to the left */
}

.txt-content h2 {
  text-align: left;
  margin: bottom 30px;
  font-family: Inter;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  margin-left: 100px;
  height: auto;
}

.txt-content p {
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 500;
  line-height: 1.4;
  margin-left: 100px;
}

.img-content {
  margin-top: 24px; /* Add space between text and images */
  display: flex;  /* Display images horizontally */
  margin-left: 100px; /* Align images with the text */
}

.img-content img {
  width: 150px; /* Control image size */
  height: auto;
  margin-right: 16px; /* Space between the two images */
}

.rightside-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightside-content img {
  position: relative;
  opacity: 1;
  top: -100px;
  animation: opacityChange 60s infinite;
}

@keyframes opacityChange {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}

/*new section */
footer {
  background-color: #161639;
  padding: 40px;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of child elements on smaller screens */
  justify-content: space-between;
  align-items: flex-start;
  
  height: auto;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 20px;
}

.footer-logo img {
  width: 179.08px;
  height: 33px;
  color: #FFFFFF;
}

.footer-copyright p {
  color: white;
  margin-top: 20px;
  text-align: left;
}

.footer-img {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-img img {
  width: 134px;
  height: 48px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.footer-center-contain {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 50%;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.footer-1, .footer-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-1 h4, .footer-2 h4 ,.input-wrapper h4{
  color: #FFFFFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.footer-center-contain ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center-contain ul li {
  margin-top: 10px;
}

.footer-center-contain ul li a {
  color: #9FA5C0;
  text-decoration: none;
  transition: color 0.3s;
}


.footer-center-contain ul li a:hover {
  color: #f9c74f;
}

.updated-section {

}

.input-wrapper {
  position: relative;
  display: inline-block;
}

input[type="text"] {
  margin-top: 1.3rem;
  padding: 10px;
  font-size: 1rem;
  color:#FFFFFF;
  border-radius: 4px;
  background-color: #ffffffbc;
}


.input-wrapper svg {
  position: absolute; 
  top: 80%;
   right: 10px;
    transform: translateY(-50%); 
  cursor: pointer;
}

/*new section */
  .more-feature-contain {
    display: flex;
    padding: 1rem;
    gap:2rem;
    justify-content: space-between;
  }

  .contained-on-left-side, .contained-on-right-side {
    flex: 1; /* Ensures both containers take equal space */
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
  }

  .content-item-feature {
    transform: translateY(50px); /* Start off-screen */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Smooth transition */
    margin-top: 1rem;
    display: flex;
    align-items: flex-start; /* Align items vertically at the top */
    gap:1rem; /* Adds space between the icon and the text */
  }
  .content-item-feature.visible {
    opacity: 1; /* Fade-in */
    transform: translateY(0); /* Slide up */
  }
  .content-item-feature.visible {
    opacity: 1; /* Fade-in effect */
    transform: translateY(0); /* Move to original position */
  }

  .icon-container svg {
    width: 100%;
    height: 100%;
  }

  .feature-icon-container {
    display: inline-block;
    width: 3rem;
  height: 3rem;
  }

  .text-content-feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
  }

  h4 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    text-align: left;
    margin: 0.25rem 0;
  }

  p {
    font-size: 1.25rem;
  text-align: left;
  margin: 0.25rem 0;
  }
  .feature-image-1 {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    animation: invertChange 2s infinite;
  }
  @media (max-width: 1053px) {
    header {
      gap: 10px; /* Reduce space between elements */
      padding: 0.5em 1em; /* Reduce padding */
    }
  
    .navbar ul {
      gap: 15px; /* Reduce spacing between navbar items */
    }
  
    .navbar a {
      font-size: 1.1rem; /* Reduce font size */
      padding: 3px 7px; /* Adjust padding */
    }
  
    .hamburger {
      display: flex; /* Show hamburger menu on smaller screens */
    }
  }
  